.header {
    background-color: var(--white);
    padding: 97px 0 77px;
    font-family: Inter;
}

.header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}