.tabs {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
<<<<<<< HEAD
    margin-bottom: 60px;
}

.tabs__scroller {
    cursor: pointer;
}

.tabs__label {
    cursor: pointer;
    margin-right: 40px;
=======
}

.tabs__label {
>>>>>>> 40d2d655256ebb2ce29255eb430a8e742ee9d67a
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
<<<<<<< HEAD
    color: var(--grey-3);
}

.tabs__content {
    display: none;
}

input[id="#all-tab"]:checked ~ .tabs__scroller .tabs__label[for="#all-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

input[id="#elements-tab"]:checked ~ .tabs__scroller .tabs__label[for="#elements-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

input[id="#containers-tab"]:checked ~ .tabs__scroller .tabs__label[for="#containers-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

input[id="#templates-tab"]:checked ~ .tabs__scroller .tabs__label[for="#templates-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

input[id="#all-tab"]:checked ~ .tabs__content_all {
    display: block;
}


input[id="#elements-tab"]:checked ~ .tabs__content_elements {
    display: block;
}

input[id="#containers-tab"]:checked ~ .tabs__content_containers {
    display: block;
}

input[id="#templates-tab"]:checked ~ .tabs__content_templates{
    display: block;
=======
    margin-right: 40px;
    color: var(--grey-3);
    cursor: pointer;
}


.tabs__input:checked ~ .tabs__label {
    color: var(--black);
    border-bottom: 3px solid var(--black);

>>>>>>> 40d2d655256ebb2ce29255eb430a8e742ee9d67a
}