.tabs {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    margin-bottom: 60px;
}

.tabs__label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-right: 40px;
    color: var(--grey-3);
}

.tabs__content {
    display: none;
}

.tabs__input[id="#all-tab"]:checked ~ .tabs__scroller .tabs__label[for="#all-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

.tabs__input[id="#elements-tab"]:checked ~ .tabs__scroller .tabs__label[for="#elements-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

.tabs__input[id="#containers-tab"]:checked ~ .tabs__scroller .tabs__label[for="#containers-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

.tabs__input[id="#templates-tab"]:checked ~ .tabs__scroller .tabs__label[for="#templates-tab"] {
    border-bottom: 3px solid var(--black);
    color: var(--black);
}

.tabs__input[id="#all-tab"]:checked ~ .tabs__content_all {
    display: block;
}


.tabs__input[id="#elements-tab"]:checked ~ .tabs__content_elements {
    display: block;
}

.tabs__input[id="#containers-tab"]:checked ~ .tabs__content_containers {
    display: block;
}

.tabs__input[id="#templates-tab"]:checked ~ .tabs__content_templates{
    display: block;
}