/* Стилизация кнопки */

.button {
    width: 182px;
    height: 48px;
    border-radius: 8px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &_primary {
        background-color: var(--primary);

        &:hover {
            background-color: var(--primary-hover);
        }
        &:focus {
            background-color: var(--primary-hover);
        }
        &:active {
            background-color: var(--primary-hover);
        }

        &:disabled:hover {
            background-color: var(--primary);
        }
    }

    &_secondary {
        background-color: var(--secondary);

        &:hover {
            background-color: var(--secondary-hover);
        }

        &:focus {
            background-color: var(--secondary-hover);
        }

        &:active {
            background-color: var(--secondary-hover);
        }
        
        &:disabled:hover {
            background-color: var(--secondary);
        }
    }

    &_alternate {
        background-color: var(--white);
        border: 1px solid var(--grey-3);
        color: var(--grey-4);

        &:hover {
            border: 1px solid var(--black);
        }

        &:focus {
            border: 1px solid var(--black);
        }

        &:active {
            border: 1px solid var(--black);
        }
        
        &:disabled:hover {
            border-color: var(--grey-3);
        }
    }
}
