.avatar {
    border-radius: 8px;
    border: 1px solid  var(--grey-3);
    padding: 58px 95px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.avatar__photo {
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}