.avatar {
    $avatar-width: 160px;
    $avatar-height: 160px;
    width: $avatar-width;
    height: $avatar-height;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &__photo {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}