@import '../fonts/fonts.css';
:root {
    --white: #ffffff;
    --base-black: #000000;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-hover: #5028C6;
    --blue: #374FC7; 
    --blue-link: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --main: #f9fafc;
    --gradient: linear-gradient(92.51deg, var(--grey-2) 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);;
    --error: var(--red);
    --success: var(--blue);
    --primary: var(--blue);
    --primary-hover: var(--blue-hover);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-hover);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

/*
.page {
    display: flex;
    flex-direction: column;
}

.page__box {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
*/

.page {
    height: 100%;
    background-color: var(--main);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 36px;
}

.page__header {
    padding: 32px 165px 62px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 60px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 165px;
}

.page__footer {
    padding: 56px 165px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}


.logo {
    display: flex;
}

.logo__square {
    width: 30px;
    height: 30px;
    background-color: var(--black);
    margin-right: 8px;
}

.logo__circle {
    width: 30px;
    height: 30px;
    background-color: var(--black);
    border-radius: 50%;
    margin-right: 8px;
}

.logo__triangle {
    border: 15px solid var(--black);
    border-top-color: transparent;
    border-right-color: transparent;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    text-align: right;
}

.nav__point {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nav__point:not(:last-child) {
    margin-right: 24px;
}

.nav__point_active {
    color: var(--black);
}

.menu {
    width: 229px;
}

.menu__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--base-black);
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.menu__point {
    cursor: pointer;
}

.menu__point_active {
    color: #D84910;
}

.component {
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 106px 64px 42px;
}
.component__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}