@import '../fonts/fonts.css';
:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #f784ad;
    --purple: #7048e8;
    --purple-hover: #5028c6;
    --blue: #4263eb;
    --blue-hover: #2342c0;
    --red: #f03d3e;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;
    --main: #f9fafc;
    --gradient: linear-gradient(92.51deg, var(--grey-2) 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);;
    --error: var(--red);
    --success: var(--blue);
    --primary: var(--blue);
    --primary-hover: var(--blue-hover);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-hover);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
}

.page__box {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}