@import '../fonts/fonts.css';
:root {
    --white: #ffffff;
    --base-black: #000000;
    --black: #212429;
    --dark-text: #334D6E;
    --light-text: #90A0B7;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-hover: #5028C6;
    --blue: #374FC7; 
    --blue-link: #4263EB;
    --light-blue: #A0B1F5B3;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-modal: #c4c4c4;
    --grey-bg: #334D6E;
    --main: #f9fafc;
    --gradient: linear-gradient(92.51deg, var(--grey-2) 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);;
    --error: var(--red);
    --success: var(--blue);
    --primary: var(--blue);
    --primary-hover: var(--blue-hover);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-hover);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

/*.page {
    display: flex;
    flex-direction: column;
}*/

@media screen and (min-width: 375px) {
    .page__box {
        max-width: 343px;
        width: 100%;
        margin: 0 auto;
    }
    .page__main {
        max-width: 343px;
        width: 100%;
        justify-self: center;
        grid-area: main;
    }
}

@media screen and (min-width: 1440px) {
    .page__box {
        max-width: 1110px;
    }
    .page__main {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 56px;
        max-width: 1110px;
    }
}


.page {
    height: 100%;
    background-color: var(--main);
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    row-gap: 36px;
}



.page__footer {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
    max-width: 1110px;
    width: 100%;
    grid-area: footer;
    justify-self: center;
    padding: 24px 0 56px;
}