.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tooltip__help {
    display: none;
    background: var(--blue-link);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    top: -25%;
    white-space: nowrap;
    width: 129px;
    box-sizing: border-box;
}

.tooltip__help::after {
    content: "";
    border: 14px solid transparent;
    border-top: 6px solid var(--blue-link);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
}

.tooltip__trigger:hover ~ .tooltip__help  {
    display: block;
}