.input {
    &__field {
        outline: none;
        width: 100%;
        appearance: none;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: var(--grey-4);
        background: var(--white);
        border: 1px solid var(--grey-2);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 17px 13px 13px 24px;

        &::placeholder {
            color: var(--grey-2);
        }

        &:focus {
            border: 1px solid var(--blue-link);
            box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
        }

        &:disabled {
            background-color: var(--grey-2);
        }
    }

    &_error  {
        & .input__field {
            border: 1px solid var(--red);
            box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);

            &:focus {
                border: 1px solid var(--red);
                box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
            }
        }

        & .input__icon {
            fill: var(--red);
        }        
    }


    &_success {
        & .input__field:focus {
            border: 1px solid var(--grey-2);
            box-shadow: none;
        }

        &  .input__icon  {
            fill: var(--blue);
        }
    } 

    &__label {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--grey-3);
        display: flex;
        flex-direction: column;
        user-select: none;
    }
    
    &__wrapper {
        position: relative;
        width: 350px;
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 15px;
        display: inline-block;
        width: 25px;
        height: 25px;
    }
}
